.o {
  background-color: #212529;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  text-align: center;
  color: white;
}

main .a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
