.o {
  background-color: #212529;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
  text-align: center;
  color: white;
}

main .a {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212529;
}

.card {
  width: 300px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  font-size: 14px;
  line-height: 1.5;
}

.card-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
}
