.o {
  background-color: #212529;
}

.bergerak,
.partner {
  width: auto;
  /* height: 100%; */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #212529;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.element-dengan-overflow {
  overflow-x: hidden;
}

.comments-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  color: black;
}

.comments-container h2 {
  margin-bottom: 10px;
}

.comments-container form div {
  margin-bottom: 10px;
}

.comments-container form label {
  display: block;
  margin-bottom: 5px;
}

.comments-container form input,
.comments-container form textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.comments-container form textarea {
  height: 100px;
}

.comments-container button[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.comments-container button[type="submit"]:hover {
  background-color: #006b9f;
}

.shoes {
  margin-left: 20px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.star {
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  color: gray;
}

.star:hover {
  color: orange;
}

.partner a {
  text-decoration: none;
}

.container2 {
  font-size: 48px;
  text-align: center;
  height: 100px;
}

.container2 span {
  display: inline-block;
  animation: twinkling 1s infinite;
  transition: transform 0.3s ease-out;
  border-radius: 2px;
  border-radius: 5px;
  margin: 0px;
  padding: 5px;
}

.container2:hover span {
  transform: translateY(-10px);
}

@keyframes twinkling {
  0% {
    color: red; 
  }
  25% {
    color: green; 
  }
  50% {
    color: blue; 
  }
  75% {
    color: yellow; 
  }
  100% {
    color: purple;
  }
}
