.o {
  background-color: #212529;
}

.bergerak {
  width: auto;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #212529;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.element-dengan-overflow {
  overflow-x: hidden;
}
