.o {
  background-color: #212529;
}
footer {
  background-color: #333;
  color: #fff;
}

footer h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.comments-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  color: white;
}

.comments-container h2 {
  margin-bottom: 10px;
}

.comments-container form div {
  margin-bottom: 10px;
}

.comments-container form label {
  display: block;
  margin-bottom: 5px;
}

.comments-container form input,
.comments-container form textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.comments-container form textarea {
  height: 100px;
}

.comments-container button[type="submit"] {
  background-color: #008cba;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.comments-container button[type="submit"]:hover {
  background-color: #006b9f;
}

.shoes {
    margin-left: 20px;
    
}


