@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}
#home img {
  width: 200px; /* Sesuaikan dengan lebar gambar */
  height: 200px; /* Sesuaikan dengan tinggi gambar */
  border-radius: 50%; /* Membuat sudut-sudut menjadi melengkung */
  overflow: hidden; /* Menghilangkan bagian gambar yang melewati batas bulat */
}
nav a {
  text-decoration: none;
  margin: 10px;
  color: #333;
  text-align: center;
}
section {
  padding: 20px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#home {
  background-color: #333;
  color: white;
  text-align: center;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

#home h1 {
  font-size: 5rem;
  font-family: "Righteous", cursive;
}
#home h1,
#about h2,
#projects h2,
#contact h2 {
  font-family: "Righteous", cursive;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

#about img {
  width: 500px;
  height: 500px;
}

#about .about-text {
  padding: 0 0 0 30px;
}
#projects {
  background-color: #333;
  color: white;
  text-align: center;
}

#contact {
  text-align: center;
}
